.arc {
	stroke: #f9320c;
	stroke-opacity: 0.4;
	fill-opacity: 0;
	stroke-width: 1;
} 

.arc .pie {
	fill: #f9320c;
	fill-opacity:0.9;
	stroke-opacity:0;
}

.purple {
	stroke: #6313A8;
}

.red {
	stroke: #ff320c;
}

.green {
	stroke: #09B644;
}