div.board_container {
	width:600px;
	height:600px;
	margin: auto;
	
}

text.y_label, text.x_label {
	font-family: 'News Cycle', sans-serif;
	font-size: 2px;
	fill: #A67F2D;
}

rect.board_background {
	fill: #E3B97F; /*#E3B97F;*/
}

rect.board_lines, path.board_lines {
	stroke: #5E4819;
}