div.sidebar_container {
	padding: 0 40px;
	font-family: 'News Cycle', sans-serif;
	font-size: 10px;
	color: #444;

}

ul {
    list-style-type: none;
}

li.var_label {
	padding-top: 10px;
	padding-bottom: 6px;
	font-size: 115%;
	text-decoration: underline;
}